<div id="lyric_show_container">
  <div class="nav_links">
    <%- if current_user and current_user.own_lyric?(@lyric) -%>
    <%= link_to 'Edit', edit_lyric_path(@lyric) %> |
    <%- end -%>
    <%= link_to 'Back to List', lyrics_path %>
  </div>

  <div class="left_col">
    <div class="lyric_container">
      <div class="header">
        <h2 class="title"><%= @lyric.title %></h2>
        <div class="song_detail">
          <% if @lyric.performer %>
          <div class="row">
            <div class="label">performed by</div>
            <div class="data"><%= link_to @lyric.performer.name, artist_path(@lyric.performer) %></div>
          </div>
          <% end %>
          <% if @lyric.writer %>
          <div class="row">
            <div class="label">written by</div>
            <div class="data"><%= link_to @lyric.writer.name, artist_path(@lyric.writer) %></div>
          </div>
          <% end %>
          <div class="row">
            <div class="label">album</div>
            <div class="data"><%= @lyric.album_name %></div>
          </div>
          <div class="row">
            <div class="label">year</div>
            <div class="data"><%= @lyric.year %></div>
          </div>
          <%- if @lyric.created_by -%>
          <div class="row">
            <div class="label">created by</div>
            <div class="data"><%= link_to @lyric.created_by.username, user_path(@lyric.created_by) %></div>
          </div>
          <%- end -%>
          <%- if @lyric.updated_by -%>
          <div class="row">
            <div class="label">updated by</div>
            <div class="data"><%= link_to @lyric.updated_by.username, user_path(@lyric.updated_by) %></div>
          </div>
          <%- end -%>
        </div>
      </div>

      <div id="lyric">
        <%= render :partial => 'shared/video' %>
      </div>
    </div>
  </div>
  
  <div class="right_col">
    <%= render :partial => 'sidebar/sidebar' %>
    
    <!--
    <div class="section">
      <h3>the meaning of the terms <span>ask</span></h3>
      <div class="items">
        <div class="item"></div>
      </div>
    </div>
    <%= render :partial => 'background_stories/section' %>
    <%= render :partial => 'notes/section' %>
    <div class="section">
      <h3>comments</h3>
    </div>
    -->
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById("ytplayer");
    ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
  }
  
  function onytplayerStateChange(newState) {
    if (newState == 0) {
      //alert("Player's state: end");
    }
  }
</script>