<div id="note-item_<%= note.id %>" class="item">
  <div class="title">

  </div>
  <div class="content">
    <%= simple_format auto_link(note.content, :href_options => { :target => '_blank' }) %>
  </div>
  
  <div class="bottom_bar">
    <div class="author">
      <%= author = note.created_by and link_to author.username, account_path(author) %>
    </div>
    <%- if current_user and current_user.own_note?(note) -%>
    <div class="actions">
      <span class="action"><%= link_to 'edit', edit_song_note_path(note.song, note), :remote => true %></span> |
      <span class="action"><%= link_to 'delete', song_note_path(note.song, note), 
                                                 :confirm => "Are you sure?",
                                                 :method => :delete,
                                                 :class => 'delete_btn',
                                                 :remote => true %></span>
    </div>
    <%- end -%>
    <div class="clear"></div>
  </div>
</div>