<div class="section">
  <h3 class="clear_fix">
    <span class="title">notes</span>
    <%= link_to "add a new note", new_lyric_note_path(@lyric), :class => 'add_btn' %>
  </h3>

  <%= render 'notes/form' if @note %>
  
  <div class="items">
    <%- if current_user -%>
    <%- current_user.lyric_notes(@lyric).each do |note| -%>
    <div class="item">
      <p class="story_title">
        <%- if current_user and current_user.own_note?(note) -%>
        <span class="action"><%= link_to 'edit', edit_lyric_note_path(@lyric, note) %></span> |
        <span class="action"><%= link_to 'delete', lyric_note_path(@lyric, note), 
                                                   :confirm => "Are you sure?",
                                                   :method => :delete %></span>
        <%- end -%>
      </p>
      <div class="story_content"><%= note.content %></div>
    </div>
    <%- end -%>
    <%- end -%>
  </div>
</div>