<%= form_for(background_story, :html => { :class => 'section_form js_hidden' }, :remote => true) do |f| %>
  <% if background_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(background_story.errors.count, "error") %> prohibited this background_story from being saved:</h2>

      <ul>
      <% background_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :song_id %>
  <div class="field">
    <div class="input"><%= f.text_field :title, :class => 'text title' %></div>
  </div>
  <div class="field">
    <div class="input"><%= f.text_area :content, :id => "bg_story_textarea_#{background_story.id}", :class => 'autogrow content' %></div>
  </div>
  <div class="actions">
    <div class="submit">
      <%= f.submit :class => 'save_btn srounded_btn', :value => 'save' %>
      <%= link_to 'cancel', '#', :class => 'cancel_btn' %>
    </div>
  </div>
<% end %>