<div class="nav_links">
  <%= link_to 'Edit', edit_artist_path(@artist) if current_user && current_user.admin? %>
  <%= link_to 'Back to List', artists_path %>
</div>

<div id="artist_page" class="show_container">
  <div class="name"><%= @artist.name %></div>
  <div class="bio"><%= @artist.bio_summary %></div>
  
  <div class="index">
    <% @artist.performed_lyrics.each do |lyric| %>
    <div class="song_item clear_fix">
      <div class="detail">
        <%= link_to lyric.title, lyric_path(lyric), :class => 'title' %>
      </div>
    </div>  
    <% end %>
  </div>
</div>