<div class="nav_links">
  <%= link_to 'Edit', edit_artist_path(@artist) if current_user && current_user.admin? %>
  <%= link_to 'Back to List', artists_path %>
</div>

<div id="artist_page" class="show_container clear_fix">
  <div id="artist_info">
    <div class="basic_info clear_fix">
      <div class="left">
        <div class="name"><%= @artist.name %></div>
        <div class="position"><%= @artist.primary_position %></div>
      </div>
      <div class="image"><%= image_tag @artist.image_large_url if @artist.image_large_url %></div>
    </div>
    <div class="bio"><%= @artist.bio_summary %></div>
  </div>
  
  <div id="release_songs">
    <% @artist.releases.each do |release| %>
    <div id="release_<%= release.id %>" class="songs hidden">
      <% release.songs.each do |song| %>
      <div class="song_item clear_fix">
        <div class="detail">
          <%= link_to song.title, song_path(song), :class => 'title' %>
        </div>
      </div>  
      <% end %>
    </div>
    <% end %>
  </div>
  
  <div id="releases_container">
    <div id="releases" class="clear_fix">
      <% @artist.releases.each do |release| %>
      <a class="release" rel="release_<%= release.id %>" href="#<%= release.id %>">
        <%= image_tag release.album_url('medium'), :title => release.title, :rel => 'top-tipsy' %>
      </a>
      <% end %>
    </div>
  </div>
</div>