<% @summary = @song.performer.bio_summary %>
<% @image = @song.performer.image_small_url %>

<div class="vote_block_container clear_fix">
  <div class="left">Like this song?</div>
  <div class="left"><%= render :partial => 'shared/vote_block', :locals => { :resource => @song } %></div>
</div>

<div class="section">
  <h3>Bio</h3>
  <div class="artist_image"><%= image_tag @image if @image && @image == String %></div>
  <div class="artist_summary"><%= simple_format @summary if @summary %></div>
</div>

<% if @song.main_release %>
<div id="album_section" class="section clear_fix">
  <h3>Album - <%= @song.main_release.title %></h3>
  <div class="left cover_image">
    <%= image_tag @song.main_release.large_image_url if @song.main_release.large_image_url %>
  </div>
  
  <div class="left">
  <% @song.main_release.songs.each do |song| %>
    <div class="song"><%= link_to song.title, song_path(song) %></div>
  <% end %>
  </div>
</div>
<% end %>