<div class="action_bar">
<% if current_user && (@song.content.blank? || current_user.own_song?(@song)) %>
  <%= link_to "edit the lyrics", "#", :class => 'edit_lyric_btn click_to_edit' %>
  <%= form_for(@song, :html => { :class => 'hline_form js_hidden', :id => 'lyric_form' }, :remote => true) do |f| %>
    <% if @song.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this lyrics from being saved:</h2>

        <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_area :content %>

    <div class="actions">
      <div class="submit"><%= f.submit %></div>
    </div>
  <% end %>
<% end %>
</div>

<div id="lyric">
  <% if @song.content.blank? %>
    <p>Sorry, there is no matched lyrics.<br>Wanna be the first to submit the lyrics?</p>
    <%= link_to "Search online", "http://www.google.com/search?q=#{URI.escape(@song.title)}+#{URI.escape(@song.performer_name)}+lyrics&ie=UTF-8&oe=UTF-8", :target => '_blank' %> and 
  <% else %>
    <%= simple_format @song.content  %>
  <% end %>
</div>

