<div class="action_bar">
  <%= link_to "edit the lyrics", "#", :class => 'edit_lyric_btn click_to_edit' if current_user && current_user.admin? %>
  
<% if current_user && (@song.content.blank? || current_user.admin?) %>
  <%= form_for(@song, :html => { :class => 'hline_form js_hidden', :id => 'lyric_form' }, :remote => true) do |f| %>
    <% if @song.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this lyrics from being saved:</h2>

        <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_area :content %>

    <div class="actions">
      <%= f.submit 'Save', :class => 'rounded_btn' %>
      <%= link_to "cancel", "#", :class => 'cancel_btn' %>
    </div>
  <% end %>
<% end %>
</div>

<div id="lyric">
  <% if @song.content.blank? %>
    <p>Oops, there is no lyrics yet.<br>Wanna be the first one to submit the lyrics?</p>
    <%= link_to "Search on google", "http://www.google.com/search?q=#{URI.escape(@song.title)}+#{URI.escape(@song.performer_name)}+lyrics&ie=UTF-8&oe=UTF-8", :target => '_blank', :class => 'popup_search_lyrics' %>
    and <%= link_to "add it here", "#", :class => 'edit_lyric_btn click_to_edit' %>
  <% else %>
    <%= simple_format @song.content  %>
  <% end %>
</div>

