<div id="tabs" class="js_hidden">
  <div class="vote_block_container">
    <%= render :partial => 'shared/vote_block', :locals => { :resource => @song } %>
  </div>
  
  <% if @is_sidebar && @song %>
  <div class="song_info">
    <div class="title"><%= link_to @song.title, song_url(@song) %></div>
    <div class="performer">performer/ <%= @song.performer_name %></div>
    <div class="writer">writer/ <%= @song.writer_name %></div>
  </div>
  <% end %>
	<ul>
	  <% if @song && @song.content.blank? %>
	  <li><a href="#tabs-about">about</a></li>
	  <li><a href="#tabs-lyric">lyrics</a></li>
	  <% else %>
	  <li><a href="#tabs-lyric">lyrics</a></li>
	  <li><a href="#tabs-about">about</a></li>
	  <% end %>
	  <li><a href="#tabs-stories">stories</a></li>
		<!--
		<li><a href="#tabs-videos">videos</a></li>
		<li><a href="#tabs-3">thoughts</a></li>
		<li><a href="#tabs-3">comments</a></li>
		-->
	</ul>

	<div class="tab_container">
    <% if @song %>
    <div id="tabs-stories" class="tab_content">
  	  <%= render :partial => 'background_stories/section' %>
  	</div>
  	<div id="tabs-lyric" class="tab_content">
      <%= render :partial => 'sidebar/lyric' %>
  	</div>
  	<div id="tabs-about" class="tab_content">
  	  <%= render :partial => 'sidebar/about' %>
  	</div>
  	<!--
  	<div id="tabs-videos" class="tab_content">
  	  <div class="section">
  	  <%= render :partial => 'sidebar/videos' %>
  	  </div>
  	</div>
  	-->
  	<% else %>
    <div id="tabs-lyric" class="tab_content">
      Sorry, we can't find any matches.
  	</div>
  	<div id="tabs-stories" class="tab_content">
  	</div>
  	<div id="tabs-about" class="tab_content">
  	</div>
  	<!--
  	<div id="tabs-videos" class="tab_content">
  	</div>
  	-->
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<% content_for :foot do %>
<script type="text/javascript" charset="utf-8">
  $(function() {
  	$("#tabs").tabs();
  });
</script>
<% end %>