<%- if @song && @video -%>
  <div id="current_video_player" class="video">
    <%= embedded_player(@video.uid) %>
    
    <div class="actions">
      <span class="desc">Like this video?</span>
      <div class="vote_block_container"><%= refresh_vote_block(@video) %></div>
    </div>
  </div>
  <div id="video_items">
  <% @videos.each do |video| %>
    <% if video.source == 'youtube' %>
    <div class="video_item clear_fix">
      <div class="image left">
        <%= link_to sidebar_switch_video_path(:id => video.id), :remote => true, :class => 'ajax_video' do %>
          <%= image_tag "http://img.youtube.com/vi/#{video.uid}/default.jpg", :class => 'video_thumb' %>
        <% end %>
      </div>
      <div class="info left">
        <div class="title"><%= link_to video.title, sidebar_switch_video_path(:id => video.id), :remote => true, :class => 'ajax_video' %></div>
        <% if video.similarity == 'first_result' %>
        <div class="notice">This might not be the exact one, but please enjoy!</div>
        <% elsif video.similarity == 'possible' %>
        <div class="notice">Possible</div>
        <% end %>
      </div>
    </div>
    <%- end -%>
  <%- end -%>
  </div>
  
  <% content_for :foot do %>
  <script type="text/javascript" charset="utf-8">
    var params = { allowScriptAccess: "always" };
    var atts = { id: "ytplayer" };
    swfobject.embedSWF("http://www.youtube.com/e/<%= @video.uid %>?enablejsapi=1&playerapiid=ytplayer",
                           "ytplayer", "425", "356", "8", null, null, params, atts);

    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("ytplayer");
      ytplayer.playVideo();
      ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
    }

    function onytplayerStateChange(newState) {
      if (newState == 0) {
        $.getJSON('/songs/next_song.json', function(data) {
          url = "http://" + window.location.host + "/songs/" + data.song.id
          window.location = url;
        });
      }
    }
  </script>
  <% end %>
<% else %>
  It seems like there is no related video on the web<br>please submit one and let us know!
<%- end -%>