<div id="main">
  <div id="tabs">
  	<ul>
  		<li><a href="#tabs-lyric">lyric</a></li>
  		<li><a href="#tabs-stories">stories</a></li>
  		<li><a href="#tabs-about">about</a></li>
  		<!--
  		<li><a href="#tabs-3">more videos</a></li>
  		<li><a href="#tabs-3">thoughts</a></li>
  		<li><a href="#tabs-3">comments</a></li>
  		-->
  	</ul>
  	
  	<div class="tab_container">
	  <% if @is_supported %>
      <% if @lyric %>
    	<div id="tabs-lyric" class="tab_content">
        <div class="song_info">
          <div class="title"><%= @lyric.title %></div>
          <div class="performer"><%= @lyric.performer %></div>
        </div>

        <div id="lyric">
          <% if @lyric.content.blank? %>
            <p>Sorry, there is no matched lyric.<br>Wanna be the first to submit the lyric? 
              <%= link_to "Search online", "http://www.google.com/search?q=#{URI.escape(@lyric.title)}+#{URI.escape(@lyric.performer)}&ie=UTF-8&oe=UTF-8" %></p>
          <% else %>
            <%= simple_format @lyric.content  %>
          <% end %>
        </div>
        
        <% if @lyric.content.blank? || current_user.own_lyric?(@lyric) %>
          <%= link_to "edit", "#", :class => 'edit_lyric_btn click_to_edit' %>
          <%= form_for(@lyric, :html => { :class => 'hline_form js_hidden', :id => 'lyric_form' }, :remote => true) do |f| %>
            <% if @lyric.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@lyric.errors.count, "error") %> prohibited this lyric from being saved:</h2>

                <ul>
                <% @lyric.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.text_area :content %>

            <div class="actions">
              <div class="submit"><%= f.submit %></div>
            </div>
          <% end %>
        <% end %>
    	</div>
    	<div id="tabs-stories" class="tab_content">
    	  <%= render :partial => 'background_stories/section' %>
    	</div>
    	<div id="tabs-about" class="tab_content">
    	  <%= render :partial => 'about' %>
    	</div>
    	<% else %>
    	<div class="tab_content">
        Sorry, we can't find any matches.
      </div>
      <% end %>
  	<% else %>
  	<div class="tab_content">
      Sorry, our app is not supported in this site.
    </div>
    <% end %>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="login_section">
  <% unless current_user %>
    <%= render :partial => 'shared/signin' %>
  <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
  	$("#tabs").tabs();
  });
</script>