<% title "#{@user.username}'s profile" %>

<% unless current_user == @user %>
<div class="follow_block_container">
<%= render :partial => 'shared/follow_block', :locals => { :resource => @user } %>
</div>
<% end %>

<div id="profile_page" class="index_container">
  <div class="description">
  </div>
  
  <div id="profile_tabs" class="js_hidden clear_fix">
    <ul>
  	  <li><a href="#profile_tabs-like">likes</a></li>
  	  <li><a href="#profile_tabs-note">notes</a></li>
  	  <li><a href="#profile_tabs-following">following</a></li>
  	  <li><a href="#profile_tabs-followers">followers</a></li>
  	</ul>

    <div class="tab_container">
      <div id="profile_tabs-like" class="tab_content">
        <div class="index">
          <% if @songs.size > 0 %>
            <%= render :partial => 'shared/songs', :locals => { :songs => @songs } %>
          <% else %>
            Start liking a song at the right sidebar of the song page!
          <% end %>
        </div>
      </div>
  
      <div id="profile_tabs-note" class="tab_content">
        <div class="index"> 
          <% if @notes.size > 0 %>
          <% @notes.each do |note| %>
          <div class="song_item clear_fix">
            <div class="left"><%= note.title %></div>
            <div class="right"><%= link_to note.song.title, song_path(note.song) %></div>
          </div>
          <% end %>
          <% else %>
          Start writing some notes at the right sidebar of the song page!
          <% end %>
        </div>
      </div>
      
      <div id="profile_tabs-following" class="tab_content">
        <div class="index">
          <% if @followings.size > 0 %>
            <%= render :partial => 'shared/follows', :locals => { :follows => @followings } %>
          <% else %>
            Start following your friends!
          <% end %>
        </div>
      </div>
      
      <div id="profile_tabs-followers" class="tab_content">
        <div class="index">
          <% if @followers.size > 0 %>
            <%= render :partial => 'shared/follows', :locals => { :follows => @followers } %>
          <% else %>
            No followers yet.
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :foot do %>
<script type="text/javascript" charset="utf-8">
  $(function() {
  	$("#profile_tabs").tabs();
  });
</script>
<% end %>