<div class="nav_links">
  <%= link_to 'back', queue_links_path, :class => 'rounded_btn' %>
  <%= link_to 'edit', edit_queue_link_path(@queue_link), :class => 'rounded_btn' %>
</div>

<div class="show_container">
  <div class="row">
    <div class="label">Artist url</div>
    <div class="data"><%= @queue_link.artist_url %></div>
  </div>
  <div class="row">
    <div class="label">Artist name</div>
    <div class="data"><%= @queue_link.artist_name %></div>
  </div>
  
  <div class="row">
    <div class="label">Imported</div>
    <div class="data"><%= @queue_link.imported %></div>
  </div>
</div>