<% title "Releases", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class='index_header'>
    <span class='title'>List of releases</span>
    (<%= link_to 'add a new release', new_release_path %>)
  </div>

  <table class="index">
    <tr>
      <th>Release type</th>
      <th>Title</th>
      <th>Release date</th>
      <th>Artist</th>
      <th></th>
    </tr>

  <% @releases.each do |release| %>
    <tr>
      <td><%= release.release_type %></td>
      <td><%= release.title %></td>
      <td><%= release.release_date %></td>
      <td><%= link_to release.primary_artist.name, artist_path(release.primary_artist) %></td>
      <td class="actions">
        <%= link_to 'View', release %> |
        <%= link_to 'Edit', edit_release_path(release) %> |
        <%= link_to 'Delete', release, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>